@media (max-width: $content-widthXl) {
  .job-detailed{
    .container{

      .job-detailed-map{
        margin-left: 80px;
        &-text{
          padding: 20px 20px 10px;
          h3{
            font-size: 16px;
            line-height: 20px;
          }
          address,p{
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.5625px;
            color: #E8EBF3;
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}

@media (max-width: $content-widthLg) {
  .job-detailed{
    .container{
      display: block;
      .desk-none{
        display: block;
      }
      .job-detailed-info{
        max-width: none;

        .detailed-dop-funks-mob{
          display: flex;
          margin-top: 25px;
          .dop-funk{
            margin: 0 30px 0 0 ;
            p{
              font-size: 16px;
              line-height: 23px;
            }
          }
        }
        .detailed-dop-funks{
          display: none;
        }

        .btn-apply{
          display: flex;
          margin: 40px auto;
        }
        .mob-none{
          display: none;
        }

        .info-about-job{
          margin-top: 35px;
          .job-title-salary{
            .job-title{
              max-width: none;
              font-size: 24px;
              line-height: 30px;
              letter-spacing: -0.75px;
            }
          }
          .job-description{
            .data-salary-post-mob{
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-top: 5px;
              margin-bottom: 15px;
              .job-salary{
                display: flex;
                flex-direction: column-reverse;
              }
              .data-post{
                margin: 0;
              }
            }

            .description-compensation{
              padding-left: 15px;
            }
          }
        }

        .btn-back{
          display: none;
        }

        .job-info-work{
          display: flex;
          flex-direction: column-reverse;
          .additional-info{
            margin-bottom: 63px;
            &-item{
              padding: 17px 0;
              max-width: 122px;
            }
            .job-info-work-content{
              display: flex;
            }
          }

          .attached-images{
            margin-top: 135px;
            img{
              width: 105px;
            }
          }
        }

      }

      .job-detailed-map{
        margin: 0;
        &-text{
          padding: 31px 62px 20px;
          margin-top: 21px;
          h3{
            font-size: 16px;
            line-height: 18px;
            letter-spacing: 0.23619px;
          }
          address,p{
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            letter-spacing: -0.5px;
          }
          p{
            color: rgba(255, 255, 255, 0.669635);
          }
        }
      }
    }
  }
}

